# {{ role_name }}

### Usage

In playbook:

    - name: Playbook
      roles:
        - role: {{ role_name }}

Include in `requirements.yml`:

    - src: https://github.com/uZer/{{ role_name }}.git
      name: uZer.{{ role_name }}
      version: latest

Install/Force update:

    ansible-galaxy install -r requirements.yml --force

### Variables

TBD.

### License

* `BY-SA` – [Attribution-ShareAlike](https://creativecommons.org/licenses/by-sa/4.0/)
