@import url("../../.cache/wal/colors-waybar.css");
@import url("./notifications.css");
@import url("./widgets.css");

* {
  all: unset;
  font-size: 10px;
  font-family: "JetBrainsMono Nerd Font";
  transition: 200ms;
}

.control-center {
  background: alpha(@background, 0.9);
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.1;
}

/* Window behind control center and on all other monitors */
.blank-window {
  background: alpha(@background, 0.25);
}

.floating-notifications.background .notification-row .notification-background {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px @color8;
  border-radius: 12.6px;
  margin: 18px;
  background-color: @background;
  color: @foreground;
  padding: 0;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 12.6px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 @color1;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .summary {
  color: @foreground;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .time {
  color: @color11;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .body {
  color: @foreground;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* {
  min-height: 3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* .notification-action {
  border-radius: 7px;
  color: @foreground;
  background-color: @color8;
  box-shadow: inset 0 0 0 1px @color10;
  margin: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* .notification-action:hover {
  box-shadow: inset 0 0 0 1px @color10;
  background-color: @color8;
  color: @foreground;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* .notification-action:active {
  box-shadow: inset 0 0 0 1px @color10;
  background-color: @color14;
  color: @foreground;
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: @background;
  background-color: @color1;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: @color9;
  color: @background;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: @color1;
  color: @background;
}

.control-center {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px @color8;
  border-radius: 12.6px;
  margin: 18px;
  background-color: @background;
  color: @foreground;
  padding: 14px;
}

.control-center .widget-title {
  color: @foreground;
  font-size: 1.3em;
}

.control-center .widget-title button {
  border-radius: 7px;
  color: @foreground;
  background-color: @color8;
  box-shadow: inset 0 0 0 1px @color10;
  padding: 8px;
}

.control-center .widget-title button:hover {
  box-shadow: inset 0 0 0 1px @color10;
  background-color: @color13;
  color: @foreground;
}

.control-center .widget-title button:active {
  box-shadow: inset 0 0 0 1px @color10;
  background-color: @color14;
  color: @background;
}

.control-center .notification-row .notification-background {
  border-radius: 7px;
  color: @foreground;
  background-color: @color8;
  box-shadow: inset 0 0 0 1px @color10;
  margin-top: 14px;
}

.control-center .notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 7px;
}

.control-center .notification-row .notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 @color1;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 7px;
}

.control-center .notification-row .notification-background .notification .notification-content .summary {
  color: @foreground;
}

.control-center .notification-row .notification-background .notification .notification-content .time {
  color: @color11;
}

.control-center .notification-row .notification-background .notification .notification-content .body {
  color: @foreground;
}

.control-center .notification-row .notification-background .notification>*:last-child>* {
  min-height: 3.4em;
}

.control-center .notification-row .notification-background .notification>*:last-child>* .notification-action {
  border-radius: 7px;
  color: @foreground;
  background-color: @color0;
  box-shadow: inset 0 0 0 1px @color10;
  margin: 7px;
}

.control-center .notification-row .notification-background .notification>*:last-child>* .notification-action:hover {
  box-shadow: inset 0 0 0 1px @color10;
  background-color: @color8;
  color: @foreground;
}

.control-center .notification-row .notification-background .notification>*:last-child>* .notification-action:active {
  box-shadow: inset 0 0 0 1px @color10;
  background-color: @color14;
  color: @foreground;
}

.control-center .notification-row .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: @background;
  background-color: @color9;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: @color1;
  color: @background;
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: @color1;
  color: @background;
}

.control-center .notification-row .notification-background:hover {
  box-shadow: inset 0 0 0 1px @color10;
  background-color: @color15;
  color: @foreground;
}

.control-center .notification-row .notification-background:active {
  box-shadow: inset 0 0 0 1px @color10;
  background-color: @color14;
  color: @foreground;
}

progressbar,
progress,
trough {
  border-radius: 12.6px;
}

progressbar {
  box-shadow: inset 0 0 0 1px @color10;
}

.notification.critical progress {
  background-color: @color1;
}

.notification.low progress,
.notification.normal progress {
  background-color: @color4;
}

trough {
  background-color: @color8;
}

.control-center trough {
  background-color: @color10;
}

.control-center-dnd {
  margin-top: 5px;
  border-radius: 8px;
  background: @color8;
  border: 1px solid @color10;
  box-shadow: none;
}

.control-center-dnd:checked {
  background: @color8;
}

.control-center-dnd slider {
  background: @color10;
  border-radius: 8px;
}

.widget-dnd {
  margin: 0px;
  font-size: 1.1rem;
}

.widget-dnd>switch {
  font-size: initial;
  border-radius: 8px;
  background: @color8;
  border: 1px solid @color10;
  box-shadow: none;
}

.widget-dnd>switch:checked {
  background: @color8;
}

.widget-dnd>switch slider {
  background: @color10;
  border-radius: 8px;
  border: 1px solid @color8;
}
