.backup.*
*.bak

nvim/spell/*.add.spl
nvim/lazy-lock.json

/.cache/
/.hugo/
/.hugo_build.lock
/.next/
/.nuxt/
/blob-report/
/build/
/coverage/
/dist/
/node_modules/
/out/
/playwright-report/
/public/
/resources/_gen/
/test-results/

*.log
*.swo
*.swp
*.temp
*.tgz
*.tmp
*.tsbuildinfo
*~

.AppleDouble
.DS_Store
.LSOverride
.env
.env.*
.idea/
.npm/
.nyc_output/
.parcel-cache/
.pnpm-store/
.vite/
.vscode/
.yarn/build-state.yml
.yarn/cache/
.yarn/install-state.gz
.yarn/unplugged/

Desktop.ini
Thumbs.db
ehthumbs.db
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

!.env.example
!.env.sample
!.vscode/extensions.json
!.vscode/settings.json
