#!/usr/bin/env bash
set -euo pipefail

# Minimics configuration file. Values here are used by default
# You should copy this file to your home directory

# Launch the following programs when window manager starts
minimics_startup_programs () {
  # replace with programs you need to launch...
  echo "done."
}

# Folder to store screenshots you may grab without specifying a PATH in swappy
export MINIMICS_SHOTS=~/path/to/you/screenshotdir

# Folder containing your wallpapers, or single wallpaper file PATH
export MINIMICS_WALLS=~/path/to/your/wallpapers

# Folder container dwall git project
export MINIMICS_DWALL=~/path/to/dynamic-wallpaper


# Hardware identifiers / network interfaces names
export MINIMICS_NET_WIRED_INTERFACE=eth0
export MINIMICS_NET_WIRELESS_INTERFACE=wlan0
export MINIMICS_BATTERY_NAME=BAT0

# Polybar customization
export MINIMICS_POLYBAR_FONT1="roboto:pixelsize=10;2"
export MINIMICS_POLYBAR_FONT2="Iosevka Nerd Font:size=10;2"
export MINIMICS_POLYBAR_HEIGHT=25

# QT5/QT6
export QT_QPA_PLATFORMTHEME=qt6ct
