#!/usr/bin/env bash
set -euo pipefail

# Minimics configuration file. Values here are used by default
# You should copy this file to your home directory

# Launch the following programs when window manager starts
minimics_startup_programs() {
  # replace with programs you need to launch...
  echo "done."
}

# Folder containing your wallpapers, or single wallpaper file PATH
export MINIMICS_WALLS=~/path/to/your/wallpapers

# Folder container dwall git project
export MINIMICS_DWALL=~/path/to/dynamic-wallpaper

# Hardware identifiers / network interfaces names
export MINIMICS_NET_WIRED_INTERFACE=eth0
export MINIMICS_NET_WIRELESS_INTERFACE=wlan0
export MINIMICS_BATTERY_NAME=BAT0

# Weather
export MINIMICS_CITY=

# Gitlab
export MINIMICS_GITLAB_API_URL=https://gitlab.com/api/v4
export MINIMICS_GITLAB_PROJECT=example/example
export MINIMICS_GITLAB_PRIVATE_TOKEN=yoursecrettoken

# Github
export MINIMICS_GITHUB_TOKEN=github_...

# QT5/QT6
export QT_QPA_PLATFORMTHEME=qt6ct
