VteTerminal,
TerminalScreen,
vte-terminal {
  border: 0px;
  padding: 0px;
  -VteTerminal-inner-border: 0px;
}

/* remove window title from Client-Side Decorations */
.solid-csd headerbar .title {
  font-size: 0;
}

/* hide extra window decorations/double border */
window decoration {
  margin: 0;
  border: none;
  padding: 0;
}

* {
  text-shadow: none;
}
