@import url("/home/ypiolet/.cache/wal/colors-waybar");

* {
  border: none;
  border-radius: 0;
  font-family: Symbols Nerd Font, Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  min-height: 0;
}

window#waybar {
  background: @backgroundAlpha;
}

#workspaces button {
  color: @foreground;
  padding: .25rem;
  background: transparent;
  border-bottom: .1rem solid transparent;
}

/* Removes Strange Hover effect */
#workspaces button:hover {
  color: @color5;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.urgent {
  background: @color1;
}

#workspaces button.active {
  background: @color0;
}

#battery,
#bluetooth,
#clock,
#cpu,
#custom-playerctl,
#disk,
#memory,
#mode,
#network,
#tray,
#wireplumber {
  color: @foreground;
  padding: .25rem .5rem;
  margin: 0;
  border-bottom: .0rem solid @color0Alpha;
}

#battery {
  background-color: @color1;
}

#battery.charging {
  background-color: @color3;
}

#battery.plugged {
  background-color: @color2;
}

#battery.warning:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#bluetooth {
  background-color: @color12;
}

#clock {
  background-color: @color0;
}

#cpu {
  background-color: @color2;
}

#custom-playerctl {
  color: @color10;
}

#disk {
  background-color: @color3;
}

#memory {
  background-color: @color6;
}

#network {
  background-color: @color4;
}

#network.disconnected {
  background: @color2;
}

#tray {
  background: @background;
}

#wireplumber {
  background-color: @color5;
}

@keyframes blink {
  to {
    background-color: @color9;
  }
}
